<div class="container card mb-3 shadow-sm">
  <div class="mt-2">
    <div class="d-flex flex-col justify-content-center align-items-center">
      <h6 class="col-6">Produits</h6>
      <h6>{{ productsPrice }} €</h6>
    </div>
    <div class="d-flex flex-col justify-content-center align-items-center">
      <h6 class="col-6">Livraison</h6>
      <h6>{{ deliveryPrice }} €</h6>
    </div>
    <div class="d-flex flex-col justify-content-center align-items-center">
      <h5 class="col-6">Total</h5>
      <h6>{{ totalPrice }} €</h6>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3 mb-3">
      <button class="btn btn-outline-primary btn-sm">
        Valider ma commande
      </button>
    </div>
  </div>
</div>
