<div class="card shadow-sm">
  <!-- Product Image -->
  <img class="img-fluid" [src]="'images/' + product.imageUrl" />

  <!-- Product Details -->
  <div class="card-body">
    <h5 class="card-title">{{ product.nom }}</h5>

    <!-- Price of the Product -->
    <h5 class="text-danger">{{ product.prix }} €</h5>

    <!-- Total Price for This Item -->
    <p class="text-muted">
      Total: {{ product.prix * product.quantitySelected }} €
    </p>

    <div class="d-flex justify-content-between align-items-center">
      <!-- Quantity Control and Remove Button -->
      <div class="d-flex justify-content-center align-items-center">
        <button
          class="btn btn-outline-secondary"
          (click)="decreaseQuantity()"
          [disabled]="product.quantitySelected === 1"
        >
          -
        </button>
        <span class="mx-2">{{ product.quantitySelected }}</span>
        <button
          class="btn btn-outline-secondary"
          (click)="increaseQuantity()"
          [disabled]="product.quantitySelected === product.stock"
        >
          +
        </button>
      </div>

      <!-- Remove Product from Cart Button -->
      <button class="btn btn-danger btn-sm" (click)="removeFromCart()">
        Remove
      </button>
    </div>
  </div>
</div>
